---
layout: default
title: About Me
notitle: true
---
<div class="jumbotron">
  <div class="row">
    <div class="col-md-4">
    <a href="http://placehold.it"><img src="http://placehold.it/180x200"></a>
    </div>
    <div class="col-md-8">
        <h3>About Me</h3>
        <p>The <b>Awesome Research Group</b> at <b>Example U</b> does all sorts of research. Here is a place where we tell you exactly what that is!</p>
    </div>
  </div>
</div>

<h2>Recent Logs</h2>
<ul class="news list-unstyled">
{% for post in site.posts limit: site.front_page_news %}
{% include news-item.html item=post %}
{% endfor %}
</ul>
{% assign numposts = site.posts | size %}
{% if numposts >= site.front_page_news %}
<p><a href="{{ site.base }}/blog/">Older posts&hellip;</a></p>
{% endif %}
