<!DOCTYPE html>
<html>
    <head>
      {% include head.html %}
    </head>
    <body>
        <div class="container">
          <div class="header">
            <nav class="navbar">
               <a class="navbar-brand" href="{{ site.baseurl }}">
                 <h2>My <tt>/dev/log</tt></h2>
               </a>
              <ul class="nav navbar-nav nav-pills pull-right ">
                {% for item in site.navigation %}
                {% assign shortlink = item.link | prepend: '/' %}
                <li class="{% if page.url == shortlink %}active{% endif %}">
                  <a href="{{ item.link | prepend: site.baseurl }}">{{ item.title }}</a>
                </li>
                {% endfor %}
              </ul>
            </nav>
          </div>

          {% if page.notitle != true %}
          <h2>{{ page.title }}</h2>
          {% endif %}

          {{ content }}

          <div class="footer">
            <p>
              My dev log / Built with <a href="https://github.com/wtbarnes/devlog_template">devlog_template</a>
            </p>
          </div>

        </div> <!-- /container -->

        <!-- Support retina images. -->
        <script type="text/javascript" src="{{ site.base }}/js/srcset-polyfill.js"></script>
    </body>
</html>
