<!DOCTYPE html>
<html>
    <head>
      {% include head.html %}
    </head>
    <body>
        <div class="container">
          <div class="header">
            <nav class="navbar">
              <div class="navbar-header">
               <a class="navbar-brand" href="{{ site.baseurl }}"><h2>My <tt>/dev/log</tt></h2></a>
              </div>
              <ul class="nav navbar-nav nav-pills pull-right ">
                {% for item in site.navigation %}
                {% assign shortlink = item.link | prepend: '/' %}
                <li class="{% if page.url == shortlink %}active{% endif %}">
                  <a href="{{ item.link | prepend: site.baseurl }}">{{ item.title }}</a>
                </li>
                {% endfor %}
              </ul>
            </nav>
          </div>

          {% comment %}Liquid is sort of terrible! I think "!= true" is the
          only way to do negation?{% endcomment %}
          {% if page.notitle != true %}
          <h2>{{ page.title }}</h2>
          {% endif %}

          {{ content }}

          <div class="footer">
            <p>
              <a href="http://dept.example.edu/">Illustrious Department</a>
              at the
              <a href="http://example.edu/">University of
                Example</a>
            </p>
          </div>

        </div> <!-- /container -->

        <!-- Support retina images. -->
        <script type="text/javascript" src="{{ site.base }}/js/srcset-polyfill.js"></script>
    </body>
</html>
